@import 'variables';
@import 'functions';

// FUTURE: Map the color schemes of the text color based on the contrast value
@each $scheme, $map in $sd-color-schemes {
  @media(prefers-color-scheme: $scheme){
    :root{
      @each $key, $color in $map {
        $color: sd-color($scheme, $key);
        --#{$key}: #{$color};
      }
    }
  }
  .sd--scheme--#{$scheme}{
    @each $key, $color in $map {
      $color: sd-color($scheme, $key);
      --#{$key}: #{$color};
    }
  }
}

:root {
  @each $key, $color in $sd-color-global {
    $base: nth($color, 1);
    $highlight: nth($color, 2);
    $accent: nth($color, 3);
    --#{$key}: #{$base};
    --#{$key}-highlight: #{$highlight};
    --#{$key}-accent: #{$accent};
  };
}

