
@mixin handleBodyClass($bodyClass) {
  #{$bodyClass} &{
    @content;
  }
}

@mixin flatten($base, $highlight, $accent, $contrast) {
  $lightScheme: $base;
  $darkScheme: mix($highlight, #fff, 80%);
  // No background, No border, more problems
  @include handleBodyClass('.sd--scheme--light'){
    color: $lightScheme;
  }
  @include handleBodyClass('.sd--scheme--dark'){
    color: $darkScheme
  }
  @media(prefers-color-scheme: 'light'){
    color: $lightScheme;
  }
  @media(prefers-color-scheme: 'dark'){
    color: $darkScheme
  }
    background-color: none;
  @include sd--elevation(0);

  &:hover {
    background-color: $base;
    color: sd-color($contrast, text);
  }
  &:active {
    background-color:$accent;
  }
}

@mixin aspect-ratio($width, $height) {
  overflow: hidden;
  &:before {
    padding-top: ($height / $width) * 100%;
    display: block;
    content: '';
  }
  img {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
  }
}

@mixin iosSafeArea {
  @supports (padding: max(32px, 32px)) {
    padding:
    0
    m#{a}x(16px, env(safe-area-inset-left))
    0
    m#{a}x(16px, env(safe-area-inset-right));
  }
}
